<header>
    <div class="logo-nav">
      <div class="logo">
        <div class="logo-box">
          <span class="logo-text">R</span>
          <span class="logo-text">P</span>
        </div>
        <span class="logo-title">Railway Project</span>
      </div>
      <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Пошук квитків</a></li>
          <li><a routerLink="/my-tickets" routerLinkActive="active">Мої квитки</a></li>
          <li><a routerLink="/schedule" routerLinkActive="active">Табло</a></li>
          <li><a routerLink="/profile" routerLinkActive="active">Профіль</a></li>
        </ul>
      </nav>
    </div>
    <button class="login-button">Увійти</button>
</header>
  