<div class="features-section">
    <app-feature icon="🔍" title="Швидкий пошук квитків" text="Легко знаходьте потрібний рейс та обирайте оптимальний варіант."></app-feature>
    <app-feature icon="📒" title="Збереження ваших поїздок" text="Усі ваші квитки завжди доступні в профілі."></app-feature>
    <app-feature icon="⏱️" title="Актуальний розклад руху" text="Отримуйте тільки найсвіжішу інформацію."></app-feature>
    <app-feature icon="👤" title="Зручний доступ до профілю" text="Керуйте своїми поїздками швидко та просто."></app-feature>
  </div>
  
