<section class="search-section">
    <div class="search-box">
      <div class="search-option">
        <label for="from">Звідки:</label>
        <input type="text" id="from" name="from" placeholder="Виберіть станцію" />
      </div>
  
      <div class="search-option">
        <label for="to">Куди:</label>
        <input type="text" id="to" name="to" placeholder="Виберіть станцію" />
      </div>
  
      <div class="search-option">
        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" />
      </div>
  
      <button type="submit" class="search-button">Знайти</button>
    </div>
  </section>
  