<div class="registration-container">
    <h2>Реєстрація акаунта</h2>
    <form>
      <label>Ім'я:</label>
      <input type="text" placeholder="Введіть ваше ім'я">
  
      <label>Прізвище:</label>
      <input type="text" placeholder="Введіть ваше прізвище">
  
      <label>Стать:</label>
      <input type="text" placeholder="Введіть вашу стать">

      <label>Номер телефону:</label>
      <input type="tel" placeholder="+380XXXXXXXXX">
  
      <label>Email:</label>
      <input type="email" placeholder="name@example.com">
  
      
      <button type="submit">Зареєструватися</button>
    </form>
  </div>
  
